@using HSBlacklist.Models;
@using PagedList.Mvc;
@model EmployeeSearchViewModel

<link href="Content/bootstrap.css" rel="stylesheet" />
<link href="Content/Site.css" rel="stylesheet" />


<div class="jumbotron">
    <h1>Search for an employee</h1>
    <div class="row">
        <input type="text" id="employeeSearch" />
        <div class="btn btn-primary">Test</div>
    </div>
</div>

<div class="row">
    <h2>Employee Results</h2>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <td>Name</td>
                <td>Job Title</td>
                <td>Email Address</td>
                <td>Phone</td>
                <td>Location</td>
                <td><br/></td>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.Results)
            {
                <tr>
                    <td>@Html.DisplayFor(m => item.Name)</td>
                    <td>@Html.DisplayFor(m => item.JobTitle)</td>
                    <td>@Html.DisplayFor(m => item.Email)</td>
                    <td>@Html.DisplayFor(m => item.Phone)</td>
                    <td>@Html.DisplayFor(m => item.Location)</td>
                    <td>@Html.ActionLink("View", "Details", new {employeeToEdit= item.Id})</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="6">
                    @Html.PagedListPager(Model.Results,
                        page => Url.Action("Index", new RouteValueDictionary() 
                            {
                                {"Page" , page},
                                
                            }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
                </td>
            </tr>
        </tfoot>
    </table>
</div>
