@using HSBlacklist.Models.Pocos;
@model List<Employee>

<link href="Content/bootstrap.css" rel="stylesheet" />
<link href="Content/Site.css" rel="stylesheet" />


<div class="jumbotron">
    <h1>Search for an employee</h1>
    <div class="row">
        <input type="text" id="employeeSearch" />
        <div class="btn btn-primary">Test</div>
    </div>
</div>

<div class="row">
    <h2>Employee Results</h2>
    <table class="table">
        <thead>
            <tr>
                <td>Name</td>
                <td>Job Title</td>
                <td>Email Address</td>
                <td>Phone</td>
                <td>Location</td>
                <td><br/></td>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(m => item.Name)</td>
                    <td>@Html.DisplayFor(m => item.JobTitle)</td>
                    <td>@Html.DisplayFor(m => item.Email)</td>
                    <td>@Html.DisplayFor(m => item.Phone)</td>
                    <td>@Html.DisplayFor(m => item.Location)</td>
                    <td>@Html.ActionLink("View/Edit", "Details", new {employeeToEdit= item.Id})</td>
                </tr>
            }
        </tbody>
    </table>
</div>
